body {
    color:white;
    font-family :  'msgoth';
    background-image:url("/tiledbg.jpg");
    background-size:15px;
}
@font-face {
	font-family: 'typeblock';
	src: url('/typeblock.ttf') format('truetype');
}
@font-face {
	font-family: 'msgoth';
	src: url('/msgothic.ttf') format('truetype');
}
header {
    font-family:typeblock;
    font-size:42px;
    letter-spacing:-3px;
    color:white;
    text-decoration:none;
}
#mainImg {
    border:3px double white;
}
.bottomleft {
    position:fixed;
    left:5px;
    bottom:5px;
}
hr {
    border:1px solid white;
}
#pages {
    font-family:typeblock;
    font-size:38px;
    letter-spacing:-3px;
    color:white;
}
#headertxt {
    font-family:typeblock;
    font-size:42px;
    letter-spacing:-3px;
    color:white;
    text-decoration:none;
}
.circle {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #93b3a6;
  border-radius: 50%;
  transform: translate(-45%, -40%);
  pointer-events: none;
  transition: all 0.15s ease;
  z-index: 9999;
}
.circle.active {
  background-color: #32ae94;
  width: 30px;
  height: 30px;
  transition: all 0.15s ease;
}